*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
.min-width{
    min-width: 500px;
}
/* Download resume */
.download-resume{
    padding: 10px;    
    display: inline-block;
    border: 2px solid white;
    font-weight: 100;
    margin: 50px 0 0 0;
    font-size: medium;
    color: #ffffff;
}
.download-resume:hover{
    transition: 0.5s ease all;
    background-color: #f3e7c1;
    color: #0a0a0a;
}
 /*** Navbar ***/
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    background: rgba(0, 0, 0, 0.801);
    transition: 0.6s ease;
}
.logo{
    display: inline-block;
    margin: 0 10% 0 3%;
    color: white;
    font-weight: 800;
}
.logo span{
    color: #ffc107;
}
.navlist{
    text-align: center;
    width: 90%;
}
.nav-items{
    display: inline-block;
    margin: 0 4% 0 4%;
}
.nav-items a{
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
}
.nav-items a:hover{
    color: #ffc107;
    transition: 0.3s ease;
}
/* Menu button styling */
.menu-button{
    display: none;
    position: fixed;
    top: 4%;
    right: 6%;
    font-size: 25px;
    color: #f8f8f8;
}
.home-button{
    display: none;
    position: fixed;
    top: 4%;
    left: 6%;
    font-size: 25px;
}
.home-button a{
    color: white;
}
/* About me */

.about-me{
    overflow-y: scroll ;
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    color: white;
    padding-top: 7%;
    height: 100vh;
    width: 100%;
 }
 .my-image{
     width: 50vw;
     text-align: center;
 }
 .my-image img{
     width: 30vw;
     height: 70vh;     
     align-items: left;
     border-radius: 2px;
 }
 .about-me::-webkit-scrollbar{
     display: none;
 }
 .text-1{
     color: rgba(255, 255, 255, 0.945);
     font-size: 60px;
     font-weight: 700;
     text-align: left;
     width: 50%;
     margin: 0 0 30px 50px;
 }
 .t1{
     padding-bottom: 30px;
     font-weight: 700;
     border-bottom: #ffc107 solid 1px;
 }
 .text-1 span{
     color: #ffc107f3;
     font-size: 60px;
     font-weight: 700;
 }
 .text-2{
    margin: 5% 0 5% 0;
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
 }
 .text-3{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
 }
   .text-2{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
  
  @keyframes slidein {
    from {
      margin-left: 1%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
 /* Education Section styling */
 .education{
     background:linear-gradient(to top, rgb(0, 0, 0), rgba(12, 12, 12, 0.788)), url(images/education-back.jpg) no-repeat center fixed;
     background-size: cover;
     height: 100%;
 }
 .education-heading{
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding-top: 5%;
 }
 .education-elements{
     padding: 5% 20% 10% 20%;
     color: white;
     text-align: center;
 }
 .education-elements h1{
    font-size: 36px;
    font-weight: lighter;
    margin-bottom: 2%;
 }
 .education-elements p{
     margin-bottom: 2%;
     font-size: 20px;
     font-style: italic;
     color: #ffc107;
 }
/* Skills styling */
.skills{
    background:linear-gradient(to top, rgba(8, 8, 8, 0.945), rgba(0, 0, 0, 0.301)), url(images/skills-back.jpg) no-repeat center fixed;
    background-size: cover;
    align-items: center;
    color: white;
    height: 100vh;
}
.skill-heading{
    text-align: center;
    padding-top: 5%;
    font-size: 30px;
}
.skillset{
    margin-top: 5%;
    height: 70vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
    text-align: center;
    overflow-y: scroll;
}
.skillset::-webkit-scrollbar{
    display: none;
}
.grid-item{
    padding: 20px;
    text-align: center;
    font-size: 25px;
}
.bar-container{
    align-items: center;
    margin: 3% 0% 0 30%;
    width: 50%;
    height: 6px;
    background-color: #f8f8f8;
}
.html{
    background-color: #ffc107;
    width: 90%;
    height: 6px;
}
.css{
    background-color: #ffc107;
    width: 75%;
    height: 6px;
}
.java{
    background-color: #ffc107;
    width: 70%;
    height: 6px;
}
.javascript{
    background-color: #ffc107;
    width: 60%;
    height: 6px;
}
.reactjs{
    background-color: #ffc107;
    width: 20%;
    height: 6px;
}
.dsa{
    background-color: #ffc107;
    width: 60%;
    height: 6px;
}
/* Project-styling */
.projects{
    position: relative;
    color: white;   
    background-color: black;
    height: 100vh;
    overflow-y: scroll;
}
.projects::-webkit-scrollbar{
    display: none;
}
.project-heading{
    text-align: center;
    padding-top: 5%;
    font-size: 30px;
}
.project-list{
    margin: 5% 20% 5% 20%;
    padding: 0 0 5% 0;
    display: grid;
    grid-template-columns: auto auto;
    height: 70vh;
    width: 60%;
    grid-gap: 10%;
}
.portfolio{
    position: relative;
    background:linear-gradient(to right,#ffc00242,rgba(41, 41, 41, 0.568)), url(images/portfolio-back.jpg) center no-repeat;
    background-size: 100% 100%;
    border: 1px solid rgb(48, 46, 46);
}
.e-commerce{
    position: relative;
    background: url(images/e-commerce-back.png) center no-repeat;
    background-size: 100% 100%;
    border: 1px solid rgb(78, 77, 77);
}
.netflix{
    position: relative;
    background:linear-gradient(to bottom,#7c121242,rgba(41, 41, 41, 0.568)), url(images/netflix-back.jpg) center  no-repeat;
    background-size: 100% 100%;
    border: 1px solid rgb(43, 42, 42);
}
.to-do{
    position: relative;
    background: url(images/to-do-back.png) center no-repeat;
    background-size: 100% 100%;
    border: 1px solid rgb(61, 60, 60);
}
.portfolio-text{
   opacity: 0;
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: center;
   padding-top: 2em;
   font-size: 30px;
   font-weight: bold;
   transition: 0.3s ease all;
   color: #ffc107;
}
.e-commerce-text{
    opacity: 0;
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: center;
   padding-top: 2em;
   font-size: 30px;
   font-weight: bold;
   transition: 0.3s ease all;
   color: #ffc107;
}
.netflix-text{
   opacity: 0;
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: center;
   padding-top: 2em;
   font-size: 30px;
   font-weight: bold;
   transition: 0.3s ease all;
   color: #ffc107;
}
.to-do-text{
    opacity: 0;
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: center;
   padding-top: 2em;
   font-size: 30px;
   font-weight: bold;
   transition: 0.3s ease all;
   color: #ffc107;
}
.portfolio-text p{
    font-size: large;
    font-weight: 400;
    color: white;
}
.to-do-text p{
    font-size: large;
    font-weight: 400;
    color: white;
}
.e-commerce-text p{
    font-size: large;
    font-weight: 400;
    color: white;
}
.netflix-text p{
    font-size: large;
    font-weight: 400;
    color: white;
}
.portfolio:hover{
    transform: translateY(-10px);
    border: 0px;
    transition: 0.3s;
}
.portfolio:hover .portfolio-text{
    opacity: 1;
    background-color: #000000e5;
}
.e-commerce:hover{
    transform: translateY(-10px);
    border: 0px;
    transition: 0.3s;
}
.e-commerce:hover .e-commerce-text{
    opacity: 1;
    background-color: #000000e5;
}
.netflix:hover{
    transform: translateY(-10px);
    border: 0px;
    transition: 0.3s;
}
.netflix:hover .netflix-text{
    opacity: 1;
    background-color: #000000e5;
}
.to-do:hover{
    transform: translateY(-10px);
    border: 0px;
    transition: 0.3s;
}
.to-do:hover .to-do-text{
    opacity: 1;
    background-color: #000000e5;
}

/* Contact me styling */
.contact{
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.952),rgba(0, 0, 0, 0.768)), url(images/contact-back.jpg) fixed no-repeat ;
    background-size: cover;
    color: white;   
    height: 30vh;
}
.to-top{
    padding: 1% 1% 1% 1%;
    font-size: x-large;
    background-color: #ffc107;
    color: #0a0a0a;
    position: absolute;
    top: 40%;
    left: 0%;
}
.to-top a{
    color: white;
}
.message{
    padding-top: 3%;
    font-size: x-large;
    font-weight: lighter;
    text-align: center;
}
.inline{
    margin: 3% 2% 0 2%;
    display: inline-block;
}
.inline a{
    color: white;
}
.github i:hover{
    color: #ffc107;
    transform: translateY(-4px);
    transition: 0.3s ease;
}
.linkedin i:hover{
    color: #ffc107;
    transform: translateY(-4px);
    transition: 0.3s ease;
}
.gmail i:hover{
    color: #ffc107;
    transform: translateY(-4px);
    transition: 0.3s ease;
}
.call i:hover{
    color: #ffc107;
    transform: translateY(-4px);
    transition: 0.3s ease;
}

/* media queries */
@media only screen and (max-width: 1300px)
{
     .my-image img{
         margin-bottom: 50px;
         width: 20em;
         height: 25em;     
         align-items: right;
         border-radius: 2px;
     }
     .t1{
         font-size: 3vw;
     }
     .t1 span{
        font-size: 3vw;
     }
}
@media only screen and (max-width: 1000px)
{
    .nav-items a{
        font-size: 4vh;
        font-weight: 400;
    }
    .about-me{
        background-position: center;
    }
    .navbar{
        display: none;
    }
    .menu-button{
        display: inline;
    }
    .home-button{
        display: inline;
    }
    .menu-button:hover{
        cursor: pointer;
        color: #ffc107;
    }
    .home-button a:hover{
        color: #ffc107;
    }
    .active{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        text-align: center;   
        background: black;   
        font-size: x-large;
        padding: 20vh 0 20vh 0;
     }
    .skillset{
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }
    .about-me{
        padding-top: 10vh;
        flex-direction: column;
        background: linear-gradient(to bottom,rgba(0, 0, 0, 0.541),rgb(0, 0, 0)), url(images/back1.jpeg) center fixed no-repeat;
        background-size: cover;
     }
     .my-image{
         display: none;
     }
     .text-1{
         width: 70%;
        font-size: 40px; 
        margin: 10% 0 0 0;
        text-align: center;     
     }
     .t1{
         font-size: 6vw ;
         padding-bottom: 2vh ;
     }
     .text-1 span{
         font-size: 6vw;
         font-weight: 700;
     }
     .text-2{
        text-align: center;
     }
     .text-3{
        text-align: center;
     }
     .education-heading{
         font-size: x-large;
     }
     .education-elements h1{
         font-size: 28px;
     }
     .projects{
         position: initial;
     }
     .project-heading{
         font-size: x-large;
     }
     .project-list{
         display: flex;
         flex-direction: column;
         align-items: center;
         overflow-y: scroll;
         height: 100%;
     }
     .project-list::-webkit-scrollbar{
         display: none;
     }
     .portfolio{
        min-height: 30%;  
        min-width: 400px;    
    }
     .e-commerce{
        min-height: 30%;  
        min-width: 400px;         
    }
     .netflix{
        min-height: 30%;  
        min-width: 400px;          
    }
     .to-do{
        min-height: 30%;  
        min-width: 400px;          
    }
    .portfolio-text{
        padding-top: 2em;
        font-size: large;
    }
    .e-commerce-text{
        padding-top: 2em;
        font-size: large;
    }
    .netflix-text{
        padding-top: 2em;
        font-size: large;
    }
    .to-do-text{
        padding-top: 2em;
        font-size: large;
    }
}
@media only screen and (max-width: 700px)
{
    .t1{
        font-size: 6.5vh;
    }
    .t1 span{
        font-size: 6.5vh;
    }
    .text-2{
        font-size: 25px;
    }
    .text-3{
        font-size: 17px;
    }
    .education-elements p{
        font-size: large;
    }
    .education-elements h1{
        font-size: 25px;
    }
    .project-heading{
        font-size: large;
    }
}
